html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.error--container {
  position: fixed;
  width: 320px;
  border: 1px solid;
  bottom: 120px;
  right: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  transform: translateX(200%);
  transition: all 0.4s;
}

.error--container.visible {
  transform: translateX(0);
}

.error--container svg {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}